<html>
    <head>
        <title>SciTech's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">SciTech's Blog</a></h1>
        </div>
        <br></br>
        <div>
            <h2><a href="">Reconhecimento e Biometria facial com face_cognition </a></h2>
            <p>Recognize and manipulate faces from Python or from the command line with the world's simplest face recognition library</p>
            <p>publicado: 14.06.2014, 12:14</p>
        </div>

        <div>
            <h2><a href="">Introdução a NumPy</a></h2>
            <p></p>
            <p>publicado: 14.06.2014, 12:14</p>
        </div>

        <br></br>

        <div>
            <h5>Este site foi contruído com auxílio do tutorial <a href="https://djangogirls.org">DjangoGirls </a></h5>
        </div>
    </body>
</html>
